fn dir {
	stdout=` + "`" + `{dirp $*};
	if (~ $bqstatus 2 ) {
		$EDITOR $stdout;
		return $status;
	};

	if (~ "x$stdout" "x" ) {
		echo -n How are we doing @;
		uptime;
		return $status;
	};
	
	echo Switching to $stdout;
	cd $stdout
}